*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  background: $sidebar-bg;
  font-family: $font-ui;
  color: $text-primary;
}
